:root {
  /*컬러 변수 지정*/
  --color-black: #000a12;
  --color-pupple: #8346cb;
  --color-blue: #3d5afe;
  --color-yellow: #ffff72;
  --color-pink: #ffc1e3;
  --color-white: white;

  /*사이즈 변수 지정*/
  --base-space: 8px;
  --size-button: 60px;
  --button-font-szie: 18px;
  --size-border: 4px;
  --size-thumnail: 50px;

  /*이미지 애니메이션 지정*/
  --img-animation: 300ms;
}

body {
  height: 100vh;
  background-color: var(--color-pupple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--img-animation) ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--img-animation) ease;
  margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--button-font-szie);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
  margin-bottom: calc(var(--base-space) * 2);
}

.blue {
  /*btn colorBtn blue*/
  background-color: var(--color-blue);
}

.yellow {
  /*btn colorBtn yellow*/
  background-color: var(--color-yellow);
}

.pink {
  /*btn colorBtn pink*/
  background-color: var(--color-pink);
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}
.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow: scroll;
}

.item_thumbnail {
  width: var(--size-thumnail);
  height: var(--size-thumnail);
}

.item_description {
  margin-left: var(--base-space);
  font-size: var(--button-font-szie);
}
